#profile-header {
  width: 40rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c5cbe3;
  background-image: url(/images/nav-background.png);

  position: fixed;
  top: 30%;

}

#profile-header img {
  width: 10em;
  height: 10em;
}
