#profile-header {
  height: 520px;
  padding-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c5cbe3;
  background-image: url(/images/nav-background.png);
}