/* Mobile Styles */
@media only screen and (min-width: 300px) and (max-width: 700px) {
  main {
    width: 100%;
    font-size: 70%;
    padding: 0 2rem;
  }

  .row-layout {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #ffffff;
    background-image: url(/images/nav-background.png);
  }

  nav {
    height: 6rem;
  }

  #new-tweet {
    margin-top: 4rem;
  }

  .left-nav {
    font-size: 2rem;
    margin-left: 2.5rem;
  }

  .right-nav {
    margin-right: 2.5rem;
    font-size: 1.5rem;
  }

  .fa-angles-down {
    margin-left: 0.7rem;
  }

  #profile-header {
    width: 100vw;
    height: 100%;
    border-radius: 0%;
    flex-direction: column;
    justify-content: start;
    background-color: #1d3557;
    box-shadow: none;
    position: sticky;
    top: 0;
    padding-bottom: 3rem;
  }

  #profile-header img {
    width: 4em;
    height: 4em;
    margin-bottom: 0.2rem;
  }

  #profile-header span {
    font-size: 2rem;
  }

  .fa-circle-chevron-up {
    font-size: 5rem;
    bottom: 4rem;
    right: 2rem;
  }

  #submit-btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }

  #tweets-container {
    margin-top: 3.5rem;
  }

  .tweet-container {
    margin-bottom: 3rem;
  }

  #counter {
    font-size: 1.2rem;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 701px) and (max-width: 1023px) {
  main {
    width: 100%;
    font-size: 70%;
  }

  nav {
    height: 8rem;
  }

  #new-tweet {
    margin-top: 4rem;
  }

  .left-nav {
    font-size: 3rem;
    margin-left: 2.5rem;
  }

  .right-nav {
    margin-right: 2.5rem;
    font-size: 2rem;
  }

  .fa-angles-down {
    margin-left: 0.7rem;
  }

  #profile-header {
    margin-top: 3rem;
    margin-right: 6rem;
    width: 17rem;
    height: 17rem;
    top: 40%;
  }

  #profile-header img {
    width: 4em;
    height: 4em;
    margin-bottom: 0.2rem;
  }

  #profile-header span {
    font-size: 2rem;
  }

  .fa-circle-chevron-up {
    font-size: 5rem;
    bottom: 4rem;
    right: 2rem;
  }

  #submit-btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }

  #tweets-container {
    margin-top: 3.5rem;
  }

  .tweet-container {
    margin-bottom: 3rem;
  }

  #counter {
    font-size: 1.2rem;
  }

}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  main {
    width: 100%;
    font-size: 75%;
    padding: 0 2rem;
  }

  #profile-header {
    margin-top: 3rem;
    margin-right: 6rem;
    width: 25rem;
    height: 25rem;
    top: 40%;
  }

  #profile-header img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 0.2rem;
  }

  #profile-header span {
    font-size: 3rem;
  }

}