.new-tweet {
  font-weight: bold;
  margin: 2em auto;
  width: 100%;
  
}

#new-tweet-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  
}

#textarea {
  border: none;
  border-bottom: 2px solid ;
  background-color: transparent;
  
}

.submit-error {
  padding-top: 0.5em;
  display: flex;
  justify-content: start;
  align-content: center;
}

#submit-btn {
  background-color: #4053a1;
  color: #FFFFFF;
  border: none;
  font-family: 'Bungee', sans-serif;
  padding: 5px 10px;
}

.error-msg {
  margin-top: 0.5em;
  border: 2px solid red;
  color: 
  font-size: 70%;

}