#new-tweet {
  width: 100%;
  margin-top: 7rem;
}

#new-tweet-form {
  display: flex;
  flex-direction: column;
  text-align: left;

}

#textarea {
  border: none;
  border-bottom: 2px solid #1d3557;
  background-color: transparent;
  resize: none;
}


#submit-btn {
  background-color: #1d3557;
  border-radius: 3rem;
  color: #fefefe;
  border: none;
  font-family: 'Bungee', sans-serif;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0 0.2rem #0c1a2d;
  font-size: 1.8rem;

}

#submit-btn:hover {
  cursor: pointer;
}

.error-msg {
  color: #e63946;
  font-size: 70%;
  margin-left: 1rem;
  font-weight: bold;
}

.submit-error {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.submit-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#counter {
  font-family: 'Bungee', sans-serif;
  color: #2a5976;
}

#user-name {
  color: #f6dcc9;
}