.new-tweet {
  width: 100%;
  margin-top: 7rem;
}

#new-tweet-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  
}

#textarea {
  border: none;
  border-bottom: 2px solid;
  background-color: transparent;
}

#submit-btn {
  background-color: #4053a1;
  color: #FFFFFF;
  border: none;
  font-family: 'Bungee', sans-serif;
  padding: 5px 10px;
}

.error-msg {
  color: #f13a1a;
  font-size: 70%;
  margin-left: 1rem;
}

.submit-error {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.submit-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#counter {
  font-family: 'Bungee', sans-serif;
}