#tweets-container {
  width: 100%;
  margin-top: 5rem;
}

.tweet-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border: 3px solid #6b705C;
  border-radius: 1em;
  font-size: 90%;
}

.tweet-container:hover {
  box-shadow: 0.5rem 0.5rem 1rem #B7B7A4;
}

#tweet-content {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 1rem;
  overflow-wrap: break-word;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;

}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info img {
  width: 3rem;
  margin-right: 1rem;
}

#username {
  color: #6b705C;
}

.tweet-container footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #6b705C;
  width: 95%;
  margin: 0 auto;
  font-size: 75%;

}

.fas {
  padding: 0.25em;
}

.social-icons {
  color: #CB997E;
}

.social-icons i:hover {
  color: #994e42;
  opacity: 80%;
}