#tweets-container {
  width: 100%;
  margin: 5rem auto;
}

.tweet-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  border: 0.1rem solid #2a5976;
  border-radius: 1em;
  font-size: 90%;
}

.tweet-container:hover {
  box-shadow: 0 0 0.2rem #1d3557;
}

#tweet-content {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 1rem;
  overflow-wrap: break-word;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;

}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info img {
  width: 3rem;
  margin-right: 1rem;
}

#username {
  color: #457b9d;
}

.tweet-container footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 0.15rem solid #457b9d;
  width: 95%;
  margin: 0 auto;
  font-size: 90%;

}

.fas {
  padding: 0.25em;
}

.social-icons {
  color: #457b9d;
}

.social-icons i:hover {
  color: #e63946;
}