#tweets-container {
  width: 100%;
}

.tweet-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border: 2px solid;
  font-size: 90%;
}

.tweet-container:hover {
  box-shadow: 5px 5px #c5cbe3;
}

#tweet-content {
  width: 95%;
  margin: 0 auto;
  padding-left: 0.5em;
  padding-bottom: 1em;
  text-align: left;
  overflow-wrap: break-word;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info img {
  width: 1.5em;
  margin-right: 0.5em;
}

#username {
  color: #c5cbe3;
}

.tweet-container footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid;
  padding: 0 0.5em;
  width: 95%;
  margin: 0 auto;
  font-size: 75%;

}

.fas {
  padding: 0.25em;
}

.social-icons {
  color: #4053a1;
}

.social-icons i:hover {
  color: #ca9823
}